.header{
    background-color: #c6c6c6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 0;
}
.header__ul{
    display: flex;
    gap: 20px;
}
.header__nav{
    align-self: center;
}
.logo{
    font-size: 28px;
    font-weight: 700;
}
.header__link{
    color: #0000009e;
    font-size: 18px;
    &:hover{
        color: #000;
    }
}
.header__link--active{
    color: #000;
}
